:root{
    --happyFeet-Primary: #f8f9fa;
    --happyFeet-Secondary:#0dcaf0;
    --happyFeet-Dark: #161618;
    
    }
    
    .snow{
background-image: url(https://img1.picmix.com/output/stamp/normal/0/0/5/7/1087500_bfe7a.gif);
   height: 100vh;
  background-size: cover;
  background-position: center;
    }
    
.bodyColor{ 
background-color: var(--happyFeet-Dark);
}

    body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--happyFeet-Dark);
       }
    
    header{
        min-height: 10vh;
    background-color: var(--happyFeet-Secondary);
    }

    main{
        flex-grow: 1;
    }

    footer{
        background-color: var(--happyFeet-Secondary);
    }